.form__container {
  border-top: 1px solid rgb(242, 231, 232);
  background-color: rgb(252, 242, 239);
  padding: 20px;
}
.form__child__container {
  background-color: white;
  padding: 20px 0;
}
.field {
  padding: 0 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.msgONandOFF {
  box-sizing: border-box;
  background-color: rgb(165, 165, 165);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 170px;
  right: 5px;
  position: fixed;
  z-index: 100;
}
.msgONandOFF > .MuiSvgIcon-root {
  min-width: 25px;
  min-height: 25px;
  margin-right: 1px;
}
.split {
  display: flex;
  border-top: 1px solid rgb(189, 189, 189);
}
.left__container {
  width: 100%;
}
.right__container {
  padding: 60px 20px 10px;
  box-sizing: border-box;
  display: none;
  border-left: 1px solid rgb(189, 189, 189);
}
.hideForm {
  display: none;
}
.activeMsgScreen {
  display: flex;
  width: 100%;
  padding: 10px !important;
}
.right__container > .message__box {
  width: 100%;
  border: 1px solid rgb(244, 244, 244);
  border-radius: 20px;
}
.message__box > .header {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-end;
}
.header > .infos {
  margin: auto;
  margin-left: 20px;
}
.header > .icons {
  margin-right: 10px;
}
.message__box > .body {
  padding: 15px;
}
.msg__received {
  display: flex;
  flex-direction: column;
}
.msg__rec {
  margin: 10px 0;
  background-color: rgb(255, 216, 218);
  border-radius: 25px;
  max-width: 80%;
  padding: 10px;
}
.msg__sent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.msg__st {
  margin: 10px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  max-width: 80%;
  padding: 10px;
}
.unread {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.unread:before {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background: #8f8f8f;
  left: 0;
  top: 50%;
  position: absolute;
}
.unread:after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background: #8f8f8f;
  right: 0;
  top: 50%;
  position: absolute;
}
.MuiInput-underline:before,
.MuiInput-underline::after {
  border-bottom: 0px !important;
}
.MuiFormControl-root {
  width: 100%;
}
.msg__footer {
  width: 100% !important;
  margin-top: 30px;
  height: 40px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.send__Icon {
  background-color: rgb(167, 167, 167);
  padding: 5px 5px;
  border-radius: 8px;
}
label {
  font-size: 11px;
  min-width: 135px;
  color: rgb(125, 125, 125);
}

.field > select,
.widget__select > select {
  border: 1px solid black;
  outline: none;
  height: 20px;
  width: 100%;
  color: rgb(125, 125, 125);
}
.widget__control {
  border-bottom: solid rgb(244, 244, 244);
  padding: 20px;
}
.widget__control > h3 {
  font-size: 18px;
}
.widget__switches {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.switch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.switch > label {
  font-size: 11px;
  min-width: 10px !important;
}
.switch__icon {
  margin-top: 4px;
  padding: 0 8px;
}
.widget__select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.widget__icon__setting {
  padding: 20px;
}
.widget__icon__setting > h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.widget__select > label {
  align-self: flex-start;
}
.graphic__file {
  display: flex;
  flex-wrap: wrap;
}
.graphic__file > .enter__link {
  width: 100%;
  border: 1px solid black;
  outline: none;
  height: 20px;
  box-sizing: border-box;
  padding-left: 15px;
  margin-bottom: 8px;
}
.custom__button {
  height: 30px;
  width: 100%;
  font-size: 12px !important;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 25px;
  border-top: solid rgb(244, 244, 244);
}
.custom__submit__buttons {
  margin-bottom: 10px !important;
  width: 100%;
}
@media only screen and (min-width: 745px) and (max-width: 1180px) {
  .msgONandOFF {
    display: none;
  }
  .left__container,
  .hideForm {
    display: block;
    width: 55%;
  }
  .right__container {
    width: 45%;
    display: flex;
  }
  label {
    font-size: 17px;
    min-width: 210px;
  }
  .switch > label {
    font-size: 15px;
    min-width: 10px !important;
  }
  .field > select,
  .widget__select > select {
    height: 30px;
    font-size: 18px;
    margin: 5px 0;
  }
  .graphic__file > .enter__link {
    height: 30px;
    font-size: 17px;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .custom__button {
    font-size: 13px !important;
  }
  .custom__submit__buttons {
    font-size: 20px !important;
  }
}
@media only screen and (min-width: 1180px) {
  .msgONandOFF {
    display: none;
  }
  .left__container,
  .hideForm {
    display: block;
    width: 70%;
  }
  .right__container {
    width: 30%;
    display: flex;
  }
  label {
    font-size: 20px;
    min-width: 260px;
  }
  .switch > label {
    font-size: 18px;
    min-width: 10px !important;
  }
  .field > select,
  .widget__select > select {
    height: 40px;
    font-size: 25px;
    margin: 8px 0;
    padding: 0 10px;
  }
  .graphic__file {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
  }
  .graphic__file > .enter__link {
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .custom__button {
    width: 200px;
    height: 40px;
    font-size: 18px !important;
  }
  .custom__submit__buttons {
    font-size: 20px !important;
  }
  .widget__control > h3,
  .widget__icon__setting > h3 {
    font-size: 25px;
  }
  .widget__switches {
    margin: 15px 0;
  }
  .widget__icon__setting > h3 {
    margin-bottom: 10px;
  }
  .footer {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .custom__submit__buttons {
    max-width: 220px;
    margin: 0 15px !important;
    padding: 5px 10px !important;
  }
}
