.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 70px;
}
.logo__container {
  margin-right: auto;
  min-width: 7rem;
  width: 12rem;
  cursor: pointer;
}
.logo__container > img {
  width: 100%;
  height: auto;
}
.break {
  margin-left: 40px;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.burger__container {
  min-width: 1.5rem;
  max-width: 4rem;
}
.break > p {
  font-size: 25px;
}
.burger__container > img {
  width: 100%;
  max-height: 50px;
  min-height: 20px;
}
.arrow {
  margin-left: 5px;
  margin-top: 11px;
  width: 0px;
  height: 0px;
  border-top: 5px solid rgb(0, 0, 0);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.notification {
  margin: 0 10px;
  border: solid rgb(148, 148, 148);
  border-width: 0 1px 0 1px;
  padding: 5px 10px;
  margin-right: 20px;
  cursor: pointer;
}
.user__info {
  display: flex;
  align-items: center;
  padding-right: 20px;
  cursor: pointer;
}
.user__info > p {
  margin: 0 5px;
  font-size: 20px;
}
@media only screen and (max-width: 400px) {
  .MuiAvatar-root {
    width: 30px !important;
    height: 30px !important;
  }
}
@media only screen and (max-width: 600px) {
  .break {
    margin-right: 0px;
  }
  .notification {
    margin-right: 10px;
  }
  .user__info {
    padding-right: 10px;
  }
  .user__info > .arrow {
    display: none;
  }
  .user__info > p {
    display: none;
  }
  .break > p {
    font-size: 4vw;
  }
  .arrow {
    margin-top: 10px;
  }

  .MuiAvatar-img {
    height: 40px !important;
    width: 40px !important;
  }
}
